{% extends "base.html" %}

{% block title %}DeustoCines | Cines{% endblock title %}

{% block ul %}
    <li><a href="/myapp/">Home</a></li>
    <li><a href="/myapp/cines" class="active">Cines</a></li>
    <li><a href="/myapp/salas">Salas</a></li>
    <li><a href="/myapp/peliculas">Películas</a></li>
{% endblock ul %}

{% block body %}   
    <h2>Lista completa de cines:</h2>
    <ul>
        {% for tupla in cine_list %}
            <li>
                <p><a href="/myapp/cines/{{ tupla.0.id }}">{{ tupla.0.nombre }}</a>&nbsp&nbspEn cartelera: {{tupla.1.titulo}}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock body %}

{% comment %} {% url "show_pizza" i.id %} {% endcomment %}