{%extends "base.html"%}

{%block title%}DeustoCines | {{ cine.nombre }}{%endblock title%}

{% block ul %}
    <li><a href="/myapp/">Home</a></li>
    <li><a href="/myapp/cines" class="active">Cines</a></li>
    <li><a href="/myapp/salas">Salas</a></li>
    <li><a href="/myapp/peliculas">Películas</a></li>
{% endblock ul %}

{%block body%}
    <p><strong>ID:</strong> {{ cine.id }}&nbsp&nbsp<strong>Nombre:</strong> {{ cine.nombre }}&nbsp&nbsp<strong>Dirección:</strong> {{ cine.direccion }}&nbsp&nbsp<strong>Teléfono:</strong> {{ cine.telefono }}&nbsp&nbsp<strong>Número de salas:</strong> {{ cine.num_salas }}</p>
    <h3>Salas:</h3>
    <ul>
        {% for sala in cine.salas.all %}
            <li>
                <p>{{ sala.cod_sala }}</p>
            </li>
        {% endfor %}
    </ul>
{%endblock body%}