{% extends "base.html" %}

{% block title %}DeustoCines | Cines{% endblock title %}

{% block ul %}
    <li><a href="/myapp/">Home</a></li>
    <li><a href="/myapp/cines" class="active">Cines</a></li>
    <li><a href="/myapp/salas">Salas</a></li>
    <li><a href="/myapp/peliculas">Películas</a></li>
{% endblock ul %}

{% block body %}   
    <h2>Lista completa de cines:</h2>
    <ul>
        {% for cine in object_list %}
            <li>
                <p><a href="/myapp/cines/{{ cine.id }}">{{ cine.nombre }}</a>&nbsp&nbspEn cartelera:</p>
                {%for sala in cine.salas.all%}

                    {% comment %} <p> {{sala.peliculas.all.1.titulo}} </p> {% endcomment %}
                    {%for peliculas in sala.peliculas.all%}
                    <p> {{peliculas.titulo}} </p>
                    {%endfor%}
                {%endfor%}
            </li>
        {% endfor %}
    </ul>
{% endblock body %}

{% comment %} {% url "show_pizza" i.id %} {% endcomment %}