<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>DeustoCines</title>
</head>

<body>
    <ul>
        <!--<li>
             <p>{{ cine_1.nombre }} (Sala con mayor número de asientos: {{sala_num_max_asientos_in_cine_1.cod_sala}}, {{sala_num_max_asientos_in_cine_1.num_asientos}})</p>
        </li>
        <li>
            <p>{{ cine_2.nombre }} (Sala con mayor número de asientos: {{sala_num_max_asientos_in_cine_2.cod_sala}}, {{sala_num_max_asientos_in_cine_2.num_asientos}})</p>
        </li>
        <li>
            <p>{{ cine_3.nombre }} (Sala con mayor número de asientos: {{sala_num_max_asientos_in_cine_3.cod_sala}}, {{sala_num_max_asientos_in_cine_3.num_asientos}})</p>
        </li>
        <li>
            <p>{{ cine_4.nombre }} (Sala con mayor número de asientos: {{sala_num_max_asientos_in_cine_4.cod_sala}}, {{sala_num_max_asientos_in_cine_4.num_asientos}})</p>
        </li>-->

        {% for cine in cines %}
            {% for sala in salas %}
                <li>
                    <p>{{ cine.nombre }} (Sala con mayor número de asientos: {{sala.cod_sala}}, {{sala.num_asientos}})</p>
                </li>
            {% endfor %}    
        {% endfor %}
    </ul>
    
</body>
</html>