{% extends "base.html" %}

{% block title %}DeustoCines{% endblock title %}

{% block ul %}
    <li><a href="/myapp/" class="active">Home</a></li>
    <li><a href="/myapp/cines">Cines</a></li>
    <li><a href="/myapp/salas">Salas</a></li>
    <li><a href="/myapp/peliculas">Películas</a></li>
{% endblock ul %}

{% block body %}
    <ul>
        {% for tupla in cine_list %}
            <li>
                <p>{{ tupla.0.nombre }} (Sala más grande: {{tupla.1.0.cod_sala}}, {{tupla.1.0.num_asientos}} asientos)</p>
            </li>
        {% endfor %}
    </ul>
{% endblock body %}