{% extends "base.html" %}

   
{% block title %}DeustoCines | {{ pelicula.titulo }}{% endblock title %}


{% block body %}
    <p><strong>ID:</strong> {{ pelicula.id }}&nbsp&nbsp<strong>Título:</strong> {{ pelicula.titulo }}&nbsp&nbsp<strong>Fecha de estreno:</strong> {{ pelicula.fecha_estreno }}&nbsp&nbsp<strong>Longitud en minutos:</strong> {{ pelicula.longitud_mins }}&nbsp&nbsp<strong>Director:</strong> <a href="/myapp/directores/{{ pelicula.id_director.id }}">{{ pelicula.id_director.nombre }}</a></p>
    <h3>Actores que participan:</h3>
    <ul>
        {% for actor in actores_in_pelicula %}
            <li>
                <p><a href="/myapp/actores/{{ actor.id }}">{{ actor.nombre }}</a></p>
            </li>
        {% endfor %}
    </ul>
    <h3>Cines en los que se proyecta:</h3>
    <ul>
        {% for cine in cines %}
            <li>
                <p>{{ cine.nombre }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock body %}

{% block footer %}{% endblock footer %}