<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>DeustoCines | Sala {{ sala.id }}</title>
</head>

<body>
    <p><strong>ID:</strong> {{ sala.id }}<strong>Número:</strong> {{ sala.cod_sala }}<strong>Número de asientos:</strong> {{ sala.num_asientos }}<strong>Categoría:</strong> {{ sala.categoria }}<strong>ID cine:</strong> {{ sala.id_cine.nombre }}</p>
    <ul>
        {% for pelicula in peliculas %}
            <li>
                <p>{{ pelicula.titulo }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>